.successContainer{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    background-color: var(--color-white);
}

.successContainer h1{
font-size: 21px;
font-weight: 700;
color: var(--color-green);

}

.successContainer h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-green);
    }

.successContainer h4 span{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-green);
    }

.confirm{
    padding-bottom: 1rem;
    text-align: center;
}

.confirm img{
    width: 80px;
    padding-bottom: 1rem;
}