.underConstruction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.underConstruction img{
    display: flex;
    justify-content: center;
    width: 50%;
    }

    @media screen and (max-width: 768px) {
        .underConstruction img {
          width:100vw;
        }
    }