






/* Stack the layout on small devices/viewports.
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
} */




/* .container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding-left: 40px;
  padding-right: 40px; }*/