
/*sections*/

.heroSection{
    display: flex;
    width: 100%;
    min-height: 380px;
    max-height: 700px;
    justify-content:center;
    align-items: center;
    column-gap: 2rem;
    background-color: var( --color-green);
  }

  .specialsTitle{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap:40px;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .specialSection{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    gap:5rem;
    height: auto;
    padding-bottom:4rem;
  }

  .testimonialSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    align-items: center;
    min-height: 400px;
    background-color: var( --color-green);
    padding-bottom:4rem;
    padding-top:4rem;
  }

  .aboutSection{
    display: flex;
    justify-content: center;
    max-width:100%;
    min-width: 400px;
    padding-bottom:4rem;
  }

  footer{
    display:flex;
    justify-content: center;
    background-color: var( --color-green)
  }